@model Navigate.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="well">
        <fieldset>
            <legend>Paroles maiņas forma</legend>
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.OldPassword)

            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.NewPassword)

            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <br />
            <input type="submit" value="Mainīt paroli" class="btn btn-primary" />
        </fieldset>
    </div>
}
