@model Navigate.Models.LocalPasswordModel

<h3>Mainīt paroli</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="well">
        <fieldset>
            <legend>Paroles maiņas forma</legend>
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword, new { @class = "span3" })

            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "span3" })

            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span3" })

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "span3" })

            @Html.LabelFor(m => m.BaseLocation)
            @Html.TextBoxFor(m => m.BaseLocation, new { @class = "span3" })
            <br />
            <input type="submit" value="Saglabāt" class="btn btn-primary" />
        </fieldset>
    </div>
}
