@{
    ViewBag.Title = "Pārvaldīt kontu";
}

<h2>@ViewBag.Title</h2>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Jūs esat pieteicies kā <strong>@User.Identity.Name</strong>.</p>

<ul>
    <li>@Html.ActionLink("Mainīt paroli", "ChangePassword")</li>
    <li>@Html.ActionLink("Rediģēt datus", "Update")</li>
</ul>