@model Navigate.Models.RegisterModel
@{
    ViewBag.Title = "Reģistrācija";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Izveidot jaunu lietotāja kontu</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="well">
        <fieldset>
            <legend>Reģistrācijas forma</legend>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.UserName)

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.Password)

            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.Email)

            @Html.LabelFor(m => m.BaseLocation)
            @Html.TextBoxFor(m => m.BaseLocation, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.BaseLocation)
            <br />
            <input type="submit" value="Reģistrēties" class="btn btn-primary" />
        </fieldset>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
