@model Navigate.Models.RecurringItem

@{
    ViewBag.Title = "Dzēst";
}

<h2>Dzēst</h2>

<h3>Vai tiešām vēlaties dzēst šo ierakstu?</h3>
<fieldset>
    <legend>RecurringItem</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkItem.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkItem.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Start)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Start)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.End)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.End)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-primary" value="Dzēst" /> |
        @Html.ActionLink("Atpakaļ uz sarakstu", "Details", "WorkItem", new { id = Model.WorkItemId }, null)
    </p>
}
