@model IEnumerable<Navigate.ViewModels.WorkItemListViewModel>

@{
    ViewBag.Title = "My work items";
}

<h2>Uzdevumi</h2>

<p>
    <a href="@Url.Action("Create")" role ="button" class="btn btn-primary">Izveidot jaunu uzdevumu</a>
    <a href="#importSettingsModal" role="button" class="btn btn-primary" data-toggle="modal">Importēt uzdevumus no Outlook kalendāra</a>
</p>
<hr />
<div class="well">
    @using (Ajax.BeginForm("Index", new { @id = "filterForm", @class = "form-horizontal"}, new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "workItemList", LoadingElementId = "ajaxRequestLoading" }))
    {
        <div id="filterButtons" class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-inverse active" value="all">Visi</button>
            <button type="button" class="btn btn-inverse" value="completed">Pabeigtie</button>
            <button type="button" class="btn btn-inverse" value="starred">Atzīmēti ar prioritāti</button>
            <button type="button" class="btn btn-inverse" value="today">Termiņš beidzas šodien</button>
            <button type="button" class="btn btn-inverse" value="late">Nokavētie</button>
        </div>
        <div>
            <strong>Ietilpst kategorijā:</strong>
            @Html.DropDownList("category", "")
        </div>
        <div id="sortOrderSelect">
            <strong>Kārtot pēc lauka:</strong>
            @Html.DropDownList("sortOrder", new List<SelectListItem>() {
                        new SelectListItem { Value = "deadline", Text = "Termiņš" },
                        new SelectListItem { Value = "priority", Text = "Prioritāte" },
                        new SelectListItem { Value = "changedate", Text = "Pēdējoreiz mainīts" },
                        new SelectListItem { Value = "createddate", Text = "Izveidots" },
                        new SelectListItem { Value = "title", Text = "Nosaukums" },
                    })
        </div>
        <input type="hidden" id="filterHolder" name="filter" />
        <input type="search" id="searchTasks" class="input-medium search-query" name="searchTerm" placeholder="Meklēt uzdevumus" />
        <input type="submit" id="submitFilter" class="btn" value="" style="display:none" />
    }
</div>

@Html.Partial("_WorkItems", Model)

<div id="importSettingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Importa uzstādījumi</h3>
  </div>
  <div class="modal-body">
    <p>Lūdzu norādiet laika intervālu, par kuru importēt uzdevumus</p>
    @using (Ajax.BeginForm("GetOutlookCalendarItems", "WorkItem", null, new AjaxOptions() { HttpMethod = "POST", LoadingElementId = "ajaxRequestLoading", OnComplete = "requestCompleted"}, new { @id = "outlookSettingsForm", @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <div class="editor-label">
            <label for="IntervalStart">No:</label>
        </div>
        <div class="editor-field">
            @Html.TextBox("IntervalStart", DateTime.Now.ToString("dd.MM.yyyy HH:mm"), new { @class = "datetimefield",  @data_val_required = "Datums no ir obligāts lauks", @data_val = "true", @data_val_date = "Datums no ir jābūt datumam"})
            @Html.ValidationMessage("IntervalStart")
        </div>
        <div class="editor-label">
            <label for="IntervalEnd">Līdz:</label>
        </div>
        <div class="editor-field">
            @Html.TextBox("IntervalEnd", DateTime.Now.AddMonths(1).ToString("dd.MM.yyyy HH:mm"), new { @class = "datetimefield", @data_val_required = "Datums līdz ir obligāts lauks", @data_val = "true", @data_val_date = "Datums līdz ir jābūt datumam"})
            @Html.ValidationMessage("IntervalEnd")
        </div>
    }
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Atcelt</button>
    <button type="button" id="importOutlookItems" class="btn btn-primary" data-bind="click: Import">Importēt</button>
  </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#importOutlookItems").click(function () {
            $("#outlookSettingsForm").submit();
        });

        function requestCompleted(data, status, xhr) {
            if (typeof (data) === 'undefined' || data == null) {
                return;
            }

            if (status == 'success') {
                var resp = $.parseJSON(data.responseText);
                //If there was an error, display it to the user
                if (resp.IsValid == false) {
                    showMessage(resp.Message);                    
                    return;
                }
                else {
                    $('#importSettingsModal').modal('hide');
                    showMessage(resp.Message);
                }
            }
        }

        function changeStatus(workItemId) {
              $.ajax({
                  url: '@Url.Action("ChangeStatus", "WorkItem")',
                  type: 'POST',
                  data: {
                      id: workItemId
                  },
                  success: function (data) {
                      if (data.IsValid) {
                          $.pnotify({
                              title: 'Informācija',
                              text: data.Message,
                              type: 'success'
                          });
                          if ($('#workItem' + workItemId).hasClass("taskDone")) {
                              $('#workItem' + workItemId).fadeTo(100, 1);
                              $("#changeStatus" + workItemId).html('<i class="icon-ok"></i> Atzīmēt kā izpildītu');
                              $('#workItem' + workItemId).removeClass("taskDone");
                          }
                          else {
                              $('#workItem' + workItemId).fadeTo(100, 0.5);
                              $("#changeStatus" + workItemId).html('<i class="icon-remove"></i> Atzīmēt kā neizpildītu');
                              $('#workItem' + workItemId).addClass("taskDone");
                          }
                      }
                      else {
                          $.pnotify({
                              title: 'Kļūda',
                              text: data.Message,
                              type: 'error'
                          });
                      }
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                      alert("Notika kļūda, lūdzu mēģiniet vēlreiz.");
                  },
                  complete: function (jqXHR, textStatus) {
                      $("#ajaxRequestLoading").hide();
                  },
                  beforeSend: function (jqXHR, settings) {
                      $("#ajaxRequestLoading").show();
                  }
              });
        }

        $(function () {
            $("#filterButtons button").click(function () {
                var filterString = $(this).val();
                setFilter(filterString);
            });

            $("#sortOrder").change(function () {
                $("#submitFilter").click();
            });

            $("#category").change(function () {
                $("#submitFilter").click();
            });

            $("#searchTasks").blur(function () {
                $("#submitFilter").click();
            });
        })

        function setFilter(filterName) {
            $("#filterHolder").val(filterName);
            $("#submitFilter").click();
        }
    </script>
}
