@model IEnumerable<Navigate.ViewModels.WorkItemListViewModel>

@{
    ViewBag.Title = "My work items";
}

<h2>@ViewBag.PageTitle</h2>

<p>
    <a href="@Url.Action("Create")" role =" button" class="btn">Izveidot jaunu uzdevumu</a>
    <a href="#importSettingsModal" role="button" class="btn" data-toggle="modal">Importēt uzdevumus no Outlook kalendāra</a>
</p>

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "workItemList", LoadingElementId = "ajaxRequestLoading" }))
{ 
    <input type="search" name="searchTerm" /><br />
    <input type="submit" value="Search By Subject" />
}
 

@Html.Partial("_WorkItems", Model)

<div id="importSettingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Importa uzstādījumi</h3>
  </div>
  <div class="modal-body">
    <p>Lūdzu norādiet laika intervālu, par kuru importēt uzdevumus</p>
    @using (Html.BeginForm("GetOutlookCalendarItems", "WorkItem", FormMethod.Post, new { @id = "outlookSettingsForm", @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <div class="editor-label">
            <label for="IntervalStart">No:</label>
        </div>
        <div class="editor-field">
            @Html.TextBox("IntervalStart", DateTime.Now.ToString("dd.MM.yyyy HH:mm"), new { @class = "datetimefield"})
        </div>
        <div class="editor-label">
            <label for="IntervalEnd">Līdz:</label>
        </div>
        <div class="editor-field">
            @Html.TextBox("IntervalEnd", DateTime.Now.AddMonths(1).ToString("dd.MM.yyyy HH:mm"), new { @class = "datetimefield"})
        </div>
        <div id="errorMsg"></div>
    }
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Atcelt</button>
    <button type="button" id="import" class="btn btn-primary" data-bind="click: Import">Import from Outlook</button>
  </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function viewModel() {
            var _this = {};
            /************************ Public Functions ************************/
            _this.Import = function () {
                var url = '@Url.Action("GetOutlookCalendarItems", "WorkItem")';
                $("#ajaxRequestLoading").show();
                $.post(url, $('#outlookSettingsForm').serializeArray(),
                    function (data) {
                        if (data == null || typeof (data) == 'undefined')
                            return;

                        showMessage(data.Message, function () {
                            document.location.href = '@Html.AttributeEncode(Url.Action("Index", "WorkItem"))';
                        });
                        $('#importSettingsModal').modal('hide');
                    },
                    'json'
                )
                .error(function (jqXHR, textStatus) {
                    if (jqXHR != null && typeof (jqXHR) != 'undefined') {
                        if (jqXHR.responseText != null && $(jqXHR.responseText).length == 9) {
                            showMessage($($(jqXHR.responseText)[6]).text());
                        }
                    }
                })
                .always(function () {
                    $("#ajaxRequestLoading").hide();
                });
            }
            /************************ Initialization ************************/
            ko.applyBindings(_this, $("body").get(0));
        }
        viewModel();
    </script>
}
