@{
    ViewBag.Title = "Navigācija";
    var origin = "Ievadiet starta adresi..";
    var destination = (string)ViewBag.Location;
}

<h2>Iegūt norādes uz @destination</h2>
<div class="well">
    <table>
        <tr>
            <td>
                <strong>Sākums: </strong>
            </td>
            <td>
                <strong>Galamērķis: </strong>
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("origin", @origin, new { @id = "start" })
            </td>
            <td>
                @Html.TextBox("destination", @destination, new { @id = "end" })
            </td>
        </tr>
    </table>
    <form id="navigationProperties">
        Es
    <input type="radio" name="travelMode" value="DRIVING" checked="checked" style="width: 20px">braukšu ar auto
    <input type="radio" name="travelMode" value="WALKING" style="width: 20px">iešu ar kājām
    <input type="radio" name="travelMode" value="TRANSIT" style="width: 20px">izmantošu publisko transportu
    </form>
    <button id="navigateToLocation" onclick="calcRoute(); calcDistance()" class="btn btn-primary">Iegūt norādes</button>
    @Html.ActionLink("Atpakaļ uz sarakstu", "Index")
</div>
<div id="warnings_panel" style="display: none; text-align:center" class="alert"></div>
<div id="distanceOutput" class="alert alert-info" style="display: none"></div>
<div id="directions_panel" style="width: 300px; height: 480px; float:right; overflow: auto"></div>
<div id="map-canvas" style="width: 800px; height: 500px;" />


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#navigateToLocation").click(function () {
                $("#distanceOutput").show();
                var destination  = $("#end").val();
                $("h2").text("Iegūt norādes uz " + destination);
            });
        });
    </script>   
    @Scripts.Render("~/bundles/google-apis")
}